<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.net>
    <mailSettings>
      <smtp from="&quot;PRDM系统&quot;&lt;developer@Fanmaquar.com.cn&gt;">
        <network host="mail.Fanmaquar.com.cn" password="9119" userName="wangqj@Fanmaquar.com.cn" port="25" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>